
//size
$text-base-size: 16px;
$text-big-size: 20px;
$text-little-size: 12px;

//colors

$white-color: #FFFFFF;
$light-color: #EFF1FC;
$dark-color: #0E1114;
$gray-color: #3A3A44;
$blue-color: #6176DC;
$red-color: #EB4141;
$green-color: #24C150;
