
//size
$text-base-size: 16px;
$text-big-size: 20px;
$text-little-size: 12px;

//colors

$white-color: #FFFFFF;
$black-color: #000000;
$light-color: #EFF1FC;
$dark-color: #0E1114;
$gray-color: #3A3A44;
$blue-color: #6176DC;
$purple-color: #5F73D7;
$red-color: #EB4141;
$green-color: #24C150;
