@import "assets/constants.scss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}


.text{

  //sizes
    &-little{
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
  }

    &-size14{
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
    }

    &-size18{
      font-size: 18px;
      line-height: 21px;
      font-weight: 500;
    }

    &-size20{
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }

    &-size30{
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
    }

    &-size40{
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;
    }


  //colors
  &-light{
    color: $light-color;
  }
  &-red{
    color: $red-color;
  }
  &-blue{
    color: $blue-color;
  }
  &-purple{
    color: $purple-color;
  }
  &-green{
    color: $green-color;
  }

  //helpers
  &-centred{
    display: flex;
    justify-content: center;
  }
}

.selector{
  opacity: 0.2;
  border: 0.5px solid $dark-color;
}
